.back-to-top {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 50px;
    background-color: #003358; /* Change the button color as needed */
    color: #fff; /* Change the button text color as needed */
    border: none;
    padding: 20px ;
    cursor: pointer;
    border-radius: 50%;;
    transition: opacity 0.3s ease;
    
  }
  
  .back-to-top.visible {
    display: block;
    opacity: 1;
  }
  
  